@import url('https://fonts.googleapis.com/css?family=Hi+Melody');

.content-grid {
  background: linear-gradient(tomato, tomato 50%, gold 100%);
  margin: 0 auto;
  width: calc(100% - 5rem);

  @include breakpoint-medium-up {
      width: calc(100% - 5rem);
  }

  @include breakpoint-large-up {
      width: calc(100% - 10rem);
  }

  @include breakpoint-xlarge-up {
      width: calc(100% - 20rem);
  }
}


p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-top: 1cm;
}

.me {
  border-radius: 50%;
  height: 500px;
  width: 320px;
}

.email {
  float: left;
}

.landing-paragraph {
  text-align: center;
  padding-bottom: 1cm;
  padding-top: 1.5cm;
  font-size: 150%;
  color: black;
  background: linear-gradient(tomato, gold 50%, tomato 100%);
}

.nav {
  background: linear-gradient(tomato, tomato 50%, gold 100%);
}
.project-section {
   padding: 5%;
   background: linear-gradient(tomato, coral 50%, gold 100%);
   margin-bottom: 2%;
} 

.landing-img {
  align-content: center;
  height: 400px;
  width:500px;
  display: inline-flex;
}

.skills {
  background: linear-gradient(gold, coral 50%, gold 100%);
  color: black;
}

.box {
  width: 800px;
  border: 15px solid lightblue;
  margin: auto;
}

.Goals {
  padding-bottom: 5cm;
}

body {
  overflow-x: hidden;
}

.project-section {
  padding-bottom: 0.5cm;
  color: black;
}

.icons {
  margin-top: 2%;
  margin-bottom: 5%;
}

.contact {
  background: linear-gradient(gold, coral 100%);
  color: black;
  margin-top: 2%;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
} 

/* .container > div > div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.text {
  pointer-events: none;
  justify-content: start !important; 
  font-family: 'Kanit', sans-serif;
  line-height: 0px; 
  text-transform: uppercase; 
}

.number {
  font-size: 250px;
  color: #373c4c;
}

.number span {
  display: fixed;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.header {
  margin-left: 300px;
  font-size: 70px;
  color: white;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 80% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 170%;
  height: 240%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
} */
